{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Hi {{ app.user.userIdentifier|default("Nobody") }}</h1>

    {% if app.user %}

        {% if app.user.roles[0] == "ROLE_ADMIN" %}
            <p><a href="/admin">Admin Dashboard</a></p>
        {% else %}
            <p><a href="/user">User Dashboard</a></p>
        {% endif %}


        <a href="/logout">Logout</a>

        <div style="display: flex; flex-wrap: wrap; gap: 1em; margin-top: 2rem;">

            {% for trip in trips %}
                <div style="border: 2px solid black; width: 150px; text-align: center;">
                    <h3>{{ trip.name }}</h3>
                    <p>{{ trip.destination }}</p>
                    <p><a href="/trips/{{trip.id}}">Details</a></p>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% endif %}

{% endblock %}
