@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
/* Variables */
:root {
  --accent-color-orange: rgba(236, 95, 42, 1);
  --accent-color-blue: rgba(18, 50, 82, 1);
  --second-bg-color: rgba(2, 4, 8, 1);
  --main-bg-color: rgb(2, 4, 8);
  --main-padding: 5% 3%;
  --font-family: "Roboto", sans-serif;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
/* Buttons */
.btn-orange {
  color: var(--accent-color-blue);
  background-color: var(--accent-color-orange);
  border-color: var(--accent-color-orange);
}
.btn-blue {
  color: var(--accent-color-orange);
  background-color: var(--accent-color-blue);
  border-color: var(--accent-color-blue);
}
/* Horizontal Rules */
.divider {
  display: flex;
}
.divider:before,
.divider:after {
  content: "";
  flex: 1;
}
.line {
  align-items: center;
  margin: 1em -1em;
}
.line:before,
.line:after {
  height: 1px;
  margin: 0 1em;
}
.glow:before,
.glow:after {
  height: 6px;
  -webkit-filter: blur(8px);
  border-radius: 5px;
}
.glow:before {
  background: linear-gradient(
    to right,
    var(--accent-color-blue),
    var(--accent-color-orange)
  );
}
.glow:after {
  background: linear-gradient(
    to left,
    var(--accent-color-blue),
    var(--accent-color-orange)
  );
}
/* Divider Headings */
.divider-heading {
  font-family: 'Bruno Ace SC', cursive;
}
/* Landing Page */
.landing-body {
  opacity: 0;
  transition: opacity 5s;
  /* cursor: url("images/rakete.png"), auto; */
  background-color: var(--main-bg-color);
  color: white;
}
/* Navbar */
.nav-bar {
  opacity: 1;
  background-color: var(--accent-color-orange);
}
.logo-landing {
  width: 100px;
  margin: 0 auto;
}
.login-btn {
  position: absolute;
  right: 10px;
  top: 6px;
}
/* Video */
.video-container {
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}
.landing-header {
  position: relative;
  display: grid;
  place-items: center;
}
.landing-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.landing-h1 {
  animation-duration: 6s;
  animation-name: slidein;
  top: 55%;
  right: 10%;
  position: absolute;
  color: white;
  font-size: 3.5vw;
}

/* switch button */
.switch-btn {
  position: absolute;
  bottom: 7%;
  left: 7%;
  width: 7rem;
  height: 2rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: all 0.3s linear;
}
.switch-btn span {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--accent-color-orange);
}
.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--accent-color-orange);
  border-radius: 0.5rem;
  margin: 0;
  display: block;
  transition: all 0.3s linear;
}
.slide .switch {
  left: 50%;
}

/* Trips */
#trips-section {
  padding: var(--main-padding);
}
/* Register */
#register-section {
  padding: var(--main-padding);
  background-color: var(--main-bg-color);
}
/* User Journal */
#journal-section {
  padding: var(--main-padding);
}

/* Features */
#features-section {
  padding: var(--main-padding);
  background-color: var(--main-bg-color);
  position: relative;
}
.feature-box {
  padding: 5%;
  text-align: center;
}
.feature-icon {
  color: var(--accent-color-orange);
  filter: grayscale(0) brightness(100%);
  font-size: 4rem;
}
.feature-icon:hover {
  filter: grayscale(0.2) brightness(80%);
}

/* Newsletter */
#newsletter-section {
  padding: var(--main-padding);
}
.newsletterEmailCheckbox:checked {
  box-shadow: var(--accent-color-orange);
  background-color: var(--accent-color-orange);
}
/* Cards */
.card img {
  width: 100%;
  object-fit: fill;
}
.card {
  color: white;
  background-color: var(--main-bg-color);
  position: relative;
}
.card:after {
  /* color: white; */
  border: none;
  width: 3px;
  height: 100px;
  background: linear-gradient(
    transparent,
    var(--accent-color-orange),
    transparent
  );
  opacity: 0;
  position: absolute;
  left: -3px;
  top: 65%;
  content: "";
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
}
.card:hover::after {
  opacity: 1;
  top: 25%;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-white);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}
/* Footer */
.footer-landing {
  background-color: var(--accent-color-orange);
  text-align: center;
  padding: 5% 15% 0;
  margin-top: 5%;
}

footer i {
  margin: 20px 10px;
  font-size: 2.2rem;
  text-decoration: none;
}
.footer-icon:hover {
  color: var(--accent-color-blue) !important;
}
.copyright {
  font-size: 0.8rem;
  color: var(--accent-color-blue) !important;
}
/* Back to top button */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.back-to-top-icon {
  font-size: 3rem;
  color: white;
}
/* Animation */
.weightless{
  animation-name: flo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: relative;
  bottom: 80px;
  left:20px;
}
@keyframes slidein {
  from {
    margin-right: 50%;
    font-size: 1.0vw;
  }
  to {
    margin-right: 0%;
    font-size: 3.5vw;
  }
}
@keyframes flo{
  50%{
    transform: translateY(30px);
  }
}
/* Landing Page End */
/* Glow Effect Mouse */
#pointer {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

#glowing {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0;
  filter: blur(20px);
  pointer-events: none;
}

/*Dashboard*/


.bg-image {
  background: url("https://cdn.pixabay.com/photo/2016/08/05/12/44/space-1572212__340.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}


#desti {
  background-color:black;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}
.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}
.frontside {
    position: relative;
    background: rgba(255,255,255,0.13);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    
    
   
}
.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.13);
    transform: translate(-50%,-50%);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    
}
.frontside .card,
.backside .card {
    min-height: 312px;
}
.backside .card a {
    font-size: 18px;
    color:lightblue !important;
}
.frontside .card .card-title,
.backside .card .card-title {
    color: lightblue !important;
}
.backside .card .card-body img,
.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

p {
    color: white;
}


/*Footer*/

/*Footer*/
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
 
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

#send_btn_d {
  color:lightblue;
  margin-top: 5px;

}
#send_btn_d:hover {
  background-color: red;
  border-color: red;
  cursor: pointer;
}

#send_btn_l {
  color:lightblue;
  margin-top: 5px;

}

#send_btn_l:hover {
  background-color: blue;
  border-color: blue;
  cursor: pointer;
}

#send_btn {
  color:lightblue;
  margin-top: 5px;

}

#send_btn:hover {
  background-color: white;
  border-color: black;
  cursor: pointer;
}

/*daybyday*/


.container_day{
	text-align:center;
}

.h2, 
#userinput, 
#enterButton{
	font-family:sans-serif;
}

.h2{
	background-color:#282d32;
	color:lightblue;
	height:55px;
	margin:0 0 50px 0;
	padding-top:14px;
	text-align:center;
	letter-spacing:2px;
	font-size:28px;
	text-transform: capitalize;
}

#userinput{
	margin-right:100px;
	height: 25px;
	width:100px;
	border-radius: 10px;
	transition:width 0.5s;
	padding-left:8px;
	margin-bottom:25px;
}

#userinput:focus{
	outline:none;
	border: 1.5px solid lightblue;
	box-shadow: 0.75px 0.75px 2px lightblue;
	width:150px;
}

#enterButton{
	background-color:#282d32;
  color: lightblue;
	/*font-weight: bold;*/
	font-size: 15px;
	letter-spacing: 1px;
	height:35px;
	width: 100px;
	border-radius: 15px
}
#enterButton:focus{
	outline:none;
}


.todolist{
	position: relative;
	font-family: sans-serif;
	line-height: 30px;
	width: 370px;
	height: auto;
	min-height: 80px;
	margin:0 auto;
	border: 1.5px solid lightblue;
	box-shadow: 0.75px 0.75px 2px lightblue;
	border-radius: 15px;
  color:white;
}

li:hover{
	text-decoration: none;
 }

 .done{
 	text-decoration: line-through;
 }

.todobutton{
	position: absolute;
	right:20px;
	margin-top:5px;
	background-color:rgba(255, 195, 0, 0.5);
	height: 25px;
	border-radius: 10px;
}

.todobutton:focus{
	outline:none;
}


