{% extends 'base.html.twig' %}

{% block title %}Hello UserDashboardController!{% endblock %}

{% block body %}
<h1>User Dashboard</h1>
    <div style="display: flex; flex-wrap: wrap; gap: 1em; margin-top: 2rem;">

    {% set trip_id = 0 %}
    {% for trip in trips %}
        {% set trip = trip.trip %}
        <div style="border: 2px solid black; width: 150px; text-align: center;">
            <h3>{{ trip.name }}</h3>
            <p>{{ trip.destination }}</p>
            <p><a href="/user/trips/{{ trip_id }}/manage">Manage</a></p>
        </div>
        {% set trip_id = trip_id + 1 %}
    {% endfor %}
    </div>

    <a href="/">Home</a>
    <a href="/logout">Logout</a>
{% endblock %}
