{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Admin Panel</h1>

    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a href="/logout">Logout</a>

{% endblock %}
