{% extends 'base.html.twig' %}

{% block title %}diary form{% endblock %}

{% block body %}

<h1>Upload your journal diary here</h1>

{{ form(form) }}

<a href="/dashboard">Back to Dashboard</a>
{% endblock %}
