{% extends 'base.html.twig' %}

{% block title %}Hello UserDashboardController!{% endblock %}

{% block body %}
<h1>Dashboard</h1>


    {% if is_granted('ROLE_ADMIN') %}
        <p><a href="/users">Manage Users</a></p>
    {% else %}
        <p><a href="/dashboard/details">Personal Details</a></p>        
    {% endif %}
    
    <p><a href="/dashboard/trips">Your Trips</a></p>

    <a href="/">Home</a>
    <a href="/logout">Logout</a>
{% endblock %}
