{% extends 'base.html.twig' %}

{% block title %}Hello UserDashboardController!{% endblock %}

{% block body %}
{% set trip = trip.trip %}
<h1>{{ trip.destination }}</h1>

    <p><a href="/dashboard/trips/{{ id }}/packing_list">Packing List</a></p>
    <p><a href="/dashboard/trips/{{ id }}/itinerary">Itinerary</a></p>


    <p><a href="/dashboard/trips/{{ id }}/remove">Remove Trip</a></p>

    <p><a href="/dashboard/trips">Back</a></p>
    
{% endblock %}
